@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary-1: #fc72dd;
    --color-primary-2: #f95c30;
    --color-text: #252B42;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
}

.container {
    max-width: 125rem;
    padding: 0rem 1.5rem;
    margin: 0 auto;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  background-color: #fff;
  padding: 40px 30px;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: right 0.4s ease;
}

#mobileMenu a {
  color: black;
  font-size: 20px;
  font-weight: 400;
}

.menu-btn-phone {
  width: 100%;
  height: 100vh;
  position: relative;
}

.menu-btn-phone a {
  position: absolute;
  bottom: 0;
  right: 38px;
}

.menu-btn-phone a button
{
  width: 210px;
  height: 60px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  background: #007BFF ;
}
@media (max-width: 768px) {
  .menu-btn-phone {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
  }

  .menu-btn-phone a button {
      display: inline-block;
      position: relative;
      background-color: #4f8fd9;
      color: white;
      padding: 12px 25px;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.3s ease;
  }

  .menu-btn-phone a button::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 3px;
      background-color: white;
      transition: width 0.4s ease, left 0.4s ease;
      transform: translateX(-50%);
  }

  .menu-btn-phone a button:hover::after {
      width: 100%;
      left: 0;
      transform: translateX(0);
  }

  .menu-btn-phone a button:hover {
      background: linear-gradient(135deg, #3492da, #4f8fd9);
      transform: scale(1.07);
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
  }
  .menu-btn-phone a button::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: width 0.6s ease, height 0.6s ease;
      z-index: 0;
  }
  
  .menu-btn-phone a button:hover::before {
      width: 200%;
      height: 500%;
  }
}
  
/* header css */
  .header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #fff, rgba(0, 0, 0, 0.3)), url(../images/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  /* ==== NAVIGATION ==== */
  .nav {
    width: 100%;
    height: 12rem;
  }
  
  .nav_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 0 2rem;
    flex-wrap: wrap;
  }
  
  .nav_logo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
  }
  
  .nav_list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .nav_item {
    margin: 0;
  }
  
  .nav_link {
    font-size: 1.6rem;
    font-weight: 600;
    color: #737373;
    text-decoration: none;
  }
  
  .nav_button {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
  }
  
  .nav_btn_1 {
    padding: 1rem 1.6rem;
    color: var(--color-primary-2);
    font-weight: 600;
    font-size: 1.9rem;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .nav_btn_1:hover {
    color: #fff;
  }
  
  .nav_btn_2 {
    padding: 1rem 1.6rem;
    color: #fff;
    background-color: var(--color-primary-2);
    border-radius: 0.7rem;
    font-weight: 600;
    font-size: 1.9rem;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .nav_btn_2:hover {
    background-color: #fff;
    color: var(--color-primary-2);
    border: 1.7px solid var(--color-primary-2);
  }
  
  /* ==== HEADER CONTENT ==== */
  .header_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: 350px;
  }
  
  .header_content {
    max-width: 700px;
  }
  
  .header_content_welcome {
    font-size: 2rem;
    color: var(--color-primary-2);
    margin-bottom: 3.2rem;
  }
  
  .header_content_main {
    width: 100%;
    font-weight: 650;
    font-size: 7.5rem;
    color: var(--color-text);
    margin-bottom: 3rem;
  }
  
  .header_content_p {
    font-size: 2.5rem;
    color: #737373;
    margin-bottom: 5rem;
  }
  
  .header_content_buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .header_content_btn_1 {
    padding: 1.5rem 3rem;
    background-color: var(--color-primary-2);
    border-radius: 0.7rem;
    font-weight: 600;
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .header_content_btn_1:hover {
    background-color: #fff;
    border: 1.8px solid var(--color-primary-2);
    color: var(--color-primary-2);
  }
  
  .header_content_btn_2 {
    padding: 1.5rem 3rem;
    border-radius: 0.7rem;
    border: 1.2px solid var(--color-primary-2);
    font-weight: 600;
    font-size: 1.7rem;
    color: var(--color-primary-2);
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .header_content_btn_2:hover {
    background-color: var(--color-primary-2);
    border: 1.8px solid #fff;
    color: #fff;
  }
  
  /* ==== RESPONSIVE BREAKPOINTLAR ==== */
  @media (max-width: 750px) {
    .header_content_main {
      font-size: 5rem;
    }
  
    .header_container {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 200px;
    }
  }
  
  @media (max-width: 768px) {
    .nav_container {
      flex-direction: column;
      height: auto;
      padding: 2rem;
      align-items: flex-start;
    }
  
    .nav_list {
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      margin-top: 1rem;
    }
  
    .nav_button {
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      margin-top: 1.5rem;
    }
  
    .header_container {
      margin-top: 150px;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .header_content_main {
      font-size: 4rem;
    }
  
    .header_content_p {
      font-size: 2rem;
    }
  
    .header_content_buttons {
      flex-direction: column;
      width: 100%;
    }
  
    .header_content_btn_1,
    .header_content_btn_2 {
      width: 100%;
      text-align: center;
    }
    .spec_video video
    {
      width: 400px;
    }
    .medicine_img img
    {
      width: 400px;
    }
  }
  
  @media (max-width: 480px) {
    .header_content_main {
      font-size: 3rem;
    }
  
    .header_content_p {
      font-size: 1.7rem;
    }
  
    .nav_logo {
      font-size: 24px;
    }
  }
  

/* section */
.section {
    padding-top: 11rem;
}

.section_header_tag {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--color-primary-2);
}

.section_header_title {
    margin: 2rem 0rem;
    font-size: 4.9rem;
    font-weight: 700;
    color: var(--color-text);
}

.section_header_p {
    width: 550px;
    height: 60px;
    color: #737373;
    font-size: 1.6rem;
}

.practice_row {
    margin-top: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
}

.practice_card {
    width: 260px;
    height: 300px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 4.5rem 2.5rem;
    transition: all 0.3s ease;
}

.practice_card:hover {
    background-color: var(--color-primary-2);
    transform: scale(1.2);
}

.practice_card:hover .practice_card_title {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.practice_card:hover .practice_card_p {
    color: #fff;
}

.practice_card_title {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin: 2rem 0rem;
    padding-bottom: 1.3rem;
    border-bottom: 2px solid var(--color-primary-2);
}

.practice_card_p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #737373;
}

/* spec content */
.spec_container {
    margin-top: 17rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5rem;
    align-items: center;
}

.spec_color {
    display: block;
    width: 11rem;
    height: 0.8rem;
    background-color: #E74040;
}

.spec_content_title {
    margin: 3rem 0rem;
    font-size: 5rem;
    color: var(--color-text);
}

.spec_content_p {
    width: 400px;
    height: 65px;
    font-size: 16px;
    color: #737373;
    margin-bottom: 40px;
}

.spec_content_link {
    font-size: 16px;
    font-weight: 650;
    text-decoration: none;
    color: var(--color-primary-2);
}

/* medicine content */
.medicine_container {
    margin-top: 17rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5rem;
    align-items: center;
}

.medicine_color {
    display: block;
    width: 11rem;
    height: 0.8rem;
    background-color: #E74040;
}

.medicine_content_title {
    margin: 3rem 0rem;
    font-size: 5rem;
    color: var(--color-text);
}

.medicine_content_p {
    width: 400px;
    height: 65px;
    font-size: 16px;
    color: #737373;
    margin-bottom: 40px;
}

.medicine_content_link {
    font-size: 16px;
    font-weight: 650;
    text-decoration: none;
    color: var(--color-primary-2);
}

/* product */
.product_row {
    width: 100%;
    margin-top: 12rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 3rem;
}

.product_image_box {
    position: relative;
}

.product_tag {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 650;
    color: #fff;
    background-color: #E74040;
    padding: 0.5rem 1rem;
    top: 2.2rem;
    left: 2.2rem;
    border-radius: 5px;
}

.product_card_body {
    padding: 1.5rem 1rem;
}

.card_category {
    font-size: 16px;
    color: var(--color-primary-2);
    margin-bottom: 1.5rem;
}

.card_category span {
    color: #fff;
    font-size: 16px;
    background-color: #26335D;
    border-radius: 10px;
    font-weight: 500;
}

.product_card_title {
    font-size: 18px;
    color: var(--color-text);
    margin-bottom: 1.5rem;
}

.product_card_p {
    font-size: 16px;
    color: #737373;
    margin-bottom: 1.5rem;
}

.product_card_sales {
    font-size: 16px;
    color: #737373;
    margin-bottom: 1.5rem;
}

.product_card_sales span {
    margin-left: 5px;
}

.product_card_price span {
    font-size: 18px;
    color: #BDBDBD;
    margin-right: 5px;
}

.product_card_price {
    font-size: 18px;
    color: #0061FF;
    margin-bottom: 3rem;
}

.product_card_btn {
    display: inline-block;
    width: 150px;
    height: 50px;
    font-size: 16px;
    text-decoration: none;
    background-color: #fff;
    color: var(--color-primary-2);
    border: 2px solid var(--color-primary-2);
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.product_card_btn:hover {
    background-color: var(--color-primary-2);
    color: #fff;
    transform: scale(1.2);
}

/* review */
.review_row {
    margin-top: 15rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 3rem;
    text-align: center;
}

.review_img {
    width: 20rem;
    height: 20rem;
    background-color: red;
    object-fit: cover;
    border-radius: 20rem;
}

.review_p {
    margin-top: 3rem;
    font-size: 16px;
    color: #737373;
}

.review_stars {
    margin-top: 1.3rem;
}

.review_user {
    margin-top: 1.3rem;
    font-size: 18px;
    color: var(--color-text);
}

.review_user_designer {
    margin-top: 1.3rem;
    font-size: 16px;
    color: #737373;
}

/* team */
.team_row {
    width: 100%;
    margin-top: 12rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 3rem;
    border-radius: 10px;
}

.team_card {
    width: 240px;
    height: 420px;
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    border-radius: 21px;
}

.team_card:hover {
    background-color: var(--color-primary-2);
    transform: scale(1.2);
}

.team_card:hover .team_card_name {
    color: #fff;
}

.team_card:hover .team_card_designer {
    color: #fff;
}

.team_card:hover .team_card_social_icons a {
    color: #fff;
}

.team_card_name {
    font-size: 18px;
    color: var(--color-text);
    margin-top: 3.4rem;
}

.team_card_designer {
    font-size: 14px;
    color: #737373;
    margin-top: 2rem;
}

.team_card_social_icons {
    margin-top: 2rem;
}

.team_card_social_icons a {
    padding: 1rem;
    font-size: 25px;
    text-decoration: none;
    color: var(--color-primary-2);
}

/* subscribe */
.section_header_par {
    text-align: center;
}

.section_header_join {
    width: 100%;
    text-align: center;
}

.join_form {
    width: 70%;
    margin: 0 auto;
}

.join_form_input {
    height: 55px;
    margin-top: 10rem;
    margin-bottom: 26rem;
    width: 80%;
    padding: 1.5rem;
    background-color: #E5E5E5;
    border: 1px solid #bcbbbb;
    border-radius: 3px;
}

.join_btn {
    padding: 1.8rem 3rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: var(--color-primary-2);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.join_btn:hover {
    background-color: #fff;
    border: 1.5px solid var(--color-primary-2);
    color: var(--color-primary-2);
    transform: scale(1.07);
}

.footer_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 3rem;
}

.footer_info {
    width: 150px;
    height: 175px;
}

.footer_info a {
    text-decoration: none;
}

.footer_info_info {
    font-size: 18px;
    color: var(--color-text);
}

.footer_info_us {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
    text-decoration: none;
    color: #737373;
}

.footer_info_carrier {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
    text-decoration: none;
    color: #737373;
}

.footer_info_we {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
    text-decoration: none;
    color: #737373;
}

.footer_info_blog {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
    text-decoration: none;
    color: #737373;
}

.footer_info_link {
    display: block;
    width: 100%;
}

.footer_bottom {
    margin-top: 3.2rem;
    width: 100%;
    height: 80px;
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 3rem;
    text-align: center;
}

.footer_p {
    font-size: 16px;
    font-weight: 550;
    padding: 2.9rem 0rem;
}
.loader_block
{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
}
/* loader */
/* From Uiverse.io by Subaashbala */ 
/* Prior to using this loader, please ensure that you have set a background image or background color, as the text is transparent and not designed with a solid color. */
.loader {
    --ANIMATION-DELAY-MULTIPLIER: 70ms;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .loader span {
    padding: 0;
    margin: 0;
    letter-spacing: -5rem;
    animation-delay: 0s;
    transform: translateY(4rem);
    animation: hideAndSeek 1s alternate infinite cubic-bezier(0.86, 0, 0.07, 1);
  }
  .loader .l {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 0);
  }
  .loader .o {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 1);
  }
  .loader .a {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 2);
  }
  .loader .d {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 3);
  }
  .loader .ispan {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 4);
  }
  .loader .n {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 5);
  }
  .loader .g {
    animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 6);
  }
  .letter {
    width: fit-content;
    height: 3rem;
  }
  .i {
    margin-inline: 5px;
  }
  @keyframes hideAndSeek {
    0% {
      transform: translateY(4rem);
    }
    100% {
      transform: translateY(0rem);
    }
  }

  
  
  